ion-header {
  ion-toolbar {
    --background: #2C4CBB;
    color: #FFFFFF;
  }
}

ion-content {
  --background: #DCDEE1;
  header {
    background: #2C4CBB;
    height: 300px;
    margin-top: -10px;
  }
  .container {
    ion-card {
      --color: #000000;
      border-radius: 20px;
    }
  }
  .saldo-corrente {
    font-size: 14px;
  }
  .valor-saldo-corrente {
    font-size: 24px;
    font-weight: bold;
  }
  .descricao-lancamento {
    font-size: 12px;
    font-weight: bold;
  }
}
