ion-content {
    --background: #000000;
    --color: #FFFFFF;
    h1 {
      margin-top: 80px;
      font-size: 28px;
    }
    ion-button {
      height: 40px;
      text-transform: initial;
      --background: linear-gradient(90deg, #0099DE, #004F8E);
    }
    ion-button:nth-last-child(1) {
      margin-top: 10px;
    }
}
