ion-toolbar {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    margin-top: 20px;
}

.nome-usuario {
    font-size: 16px;
    font-weight: bold;
}

.perfil-usuario {
    font-weight: bold;
    color: #93919A;
    font-size: 12px;
}

ion-grid {
    ion-row:nth-child(1) {
        ion-col:nth-child(1) {
            img {
                width: 50px;
                height: 50px;
                border-radius: 60px;
                margin-left: -10px;
                border: solid blue 2px;
            }
        }
        ion-col:nth-child(2) {
            ion-row {
                text-align: center;
            }
        }
    }
    ion-row:nth-child(2) {
        .container {
            margin-top: 30px;
            background-color: #6236FE;
            border-radius: 20px;
            padding: 14px;
            width: 100%;
            color: #FFFFFF;
            ion-button {
                width: 50px;
                height: 50px;
            }
            ion-text {
                color: #B3B0BB;
                margin-left: 16%;
            }
            ion-label {
                font-size: 22px;
                text-align: center;
                font-weight: bold;
                margin-left: 26%;
                margin-top: 10px;
            }
        }
    }
}

footer {
  ion-item {
      b {
        margin-left: 10px;
      }
  }
}

.fonte-menu {
  font-size: 12px;
}
