@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: "Inter";
  src: url("./assets/font/Inter/inter.ttf");
}

@font-face {
  font-family: "Poppins-Light";
  src: url("./assets/font/Poppins/Poppins-Light.ttf");
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("./assets/font/Poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("./assets/font/Poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Overlock-Regular";
  src: url("./assets/font/Overlock/Overlock-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/font/Roboto/Roboto-Medium.ttf");
}

* {
  font-family: "Poppins-Light";
}

ion-button {
  height: 50px;
  text-transform: initial;
  --background: linear-gradient(90deg, #0099DE, #004F8E);
  --border-radius: 16px;
}

.botao-cadastrar-acessar {
  height: 50px;
  margin-top: 46px;
  --border-radius: 10px;
  font-size: 16px;
  --background: linear-gradient(30deg, #0099DE, #004F8E);
}

h1 {
  font-weight: bold;
}
